.auth-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 30px 5%;
    margin: 25px 100px 0 0;
    width: 100%;
    min-height: calc(100vh - 2rem);
}

.auth-wrapper > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    /* min-height: 300px; */
    width: 60%;
    max-width: 500px;
    height: fit-content;
}

label{
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}

input{
    border: none;
    border-radius: 24px;
    padding: 1rem .5rem;
    width: 100%;
}

form > button {
    background-color: black;
    color: white;
    border: 1px solid aquamarine;
    padding: .5rem;
    border-radius: 17px;
    font-size: 17px;
    width: 100%;
}

form > button:hover{
    background-color: gray;

}

select {
    border: none;
    border-radius: 17px;
    padding: .5rem;
    width: 100%;
}

option {
    padding: .25rem;
    font-size: .75rem;
}

.auth_btn{
    padding: .25rem;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: aquamarine;
}

.tutor_subjects_list,
.tutor_available_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.subject_list_row, .available_list_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

@media (max-width: 768px){
    .auth-wrapper {
        padding: .5rem;
        min-height: 80vh;
    }

    .auth-wrapper > form{
        border: none;
        width: 100%;
    }

    .auth-wrapper > h3 {
        text-align: center;
    }
}